@charset "UTF-8";
@font-face {
  font-family: "CorbelRegular";
  src: url("../fonts/CORBEL.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CorbelBold";
  src: url("../fonts/CORBELB.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CorbelBoldItalic";
  src: url("../fonts/CORBELZ.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
@media only screen and (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #1F4761;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F0F0F0;
  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFA300;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "CorbelRegular";
  color: #F0F0F0;
}

h1 {
  font-family: "CorbelBold";
  font-size: 1.876em;
  color: #F0F0F0;
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  h1 {
    font-size: 1.7em;
  }
}

h2 {
  font-family: "CorbelBold";
  font-size: 1.25em;
  color: #F0F0F0;
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-family: "CorbelBold";
  font-size: 0.938em;
  color: #F0F0F0;
}
@media only screen and (min-width: 1200px) {
  h3 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  h3 {
    font-size: 1.2em;
  }
}

p {
  font-family: "CorbelRegular";
  font-size: 0.938em;
}
@media only screen and (min-width: 1200px) {
  p {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  p {
    font-size: 1.2em;
  }
}

#realtickets {
  font-family: "CorbelBoldItalic";
  font-size: 1.563em;
  color: #F0F0F0;
  margin: auto;
  z-index: 1;
  width: 75%;
  float: left;
}
@media only screen and (min-width: 1200px) {
  #realtickets {
    text-align: left;
    padding-left: 3em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #realtickets {
    text-align: left;
    padding-left: 1em;
    width: 70%;
  }
}

.logo-link {
  text-decoration: none;
  color: #F0F0F0;
}
.logo-link:hover {
  color: #F0F0F0;
}

.nav-desktop {
  display: none;
  float: right;
  font-family: "CorbelRegular";
  margin-right: 3em;
  color: #F0F0F0;
  text-decoration: none;
  font-size: 1.25em;
  margin-bottom: 0;
}
.nav-desktop:hover {
  color: #FFA300;
  cursor: pointer;
}
@media only screen and (min-width: 1200px) {
  .nav-desktop {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav-desktop {
    display: block;
    margin-right: 1em;
  }
}

.nav {
  padding: 1em 0.5em;
  width: 100%;
  text-align: center;
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (min-width: 1200px) {
  .nav {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav {
    display: block;
  }
}

.menu-mobile {
  color: #F0F0F0;
  position: absolute;
  top: 1.5em;
  left: 1em;
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .menu-mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .menu-mobile {
    display: none;
  }
}

.nav-list {
  top: 0;
  left: -100%;
  padding: 6em 0 25em;
  margin: 0;
  width: 100%;
  background: #182933;
  display: block;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-item {
  display: block;
  padding: 0.5em 0;
}

.nav-link {
  text-decoration: none;
  display: block;
  color: #F0F0F0;
  font-size: 1.563em;
}
.nav-link:hover {
  color: #FFA300;
}

.nav-dropd-categorias {
  position: relative;
  display: inline-block;
}

.nav-dropd-categorias-content {
  text-align: left;
  padding-top: 1.5em;
  display: none;
  position: absolute;
  top: 1.75em;
  background-color: none;
  color: #F0F0F0;
  min-width: 160px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-dropd-categorias-content a {
  font-size: 1.25em;
}

.nav-dropd-categorias:hover .nav-dropd-categorias-content {
  display: block;
}

/******************************************* PÁGINA INICIO *******************************************/
.header-section {
  background: url(/imgs/mobile-bg/Img_Home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}
@media only screen and (min-width: 1200px) {
  .header-section {
    padding: 0 25%;
    background: url(/imgs/Img_Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header-section {
    padding: 0 20%;
    background: url(/imgs/Img_Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-section {
    padding: 0 10%;
    background: url(/imgs/Img_Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}

.header-tittle {
  padding: 6em 0 4em;
}

.header-buscar {
  background: #F0F0F0;
  color: #182933;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 5em;
}
@media only screen and (min-width: 1200px) {
  .header-buscar {
    width: 80%;
    margin: 0 auto 5em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-buscar {
    width: 90%;
    margin: 0 auto 5em;
  }
}

.buscar-icon {
  float: left;
  color: #182933;
  height: 100%;
  width: auto;
  margin: auto 0;
  margin-right: 1em;
}

.buscar-text {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 89%;
  border: none;
  background: none;
  font-size: 0.938em;
  font-family: "CorbelRegular";
}

.ultimos-agregados-tittle {
  padding-left: 1.25em;
  padding-bottom: 0.625em;
}
.ultimos-agregados-tittle::before {
  content: "";
  display: block;
  padding-bottom: 1px;
  background: #F0F0F0;
  margin-bottom: 0.625em;
  width: 100%;
}

.titulo-evento {
  color: #FFA300;
  margin-top: 5em;
  text-align: left;
  margin-left: 0.5em;
}

.img-reciente-1 {
  padding: 0;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: url(/imgs/Img_Home_Reciente_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.img-reciente-2 {
  padding: 0;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: url(/imgs/Img_Home_Reciente_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.btn-vermas-agregado-bg {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: #182933;
  margin-bottom: 2em;
  padding: 0 0.5em;
}

.btn-vermas-evento {
  padding: 0.5em;
  color: #F0F0F0;
  font-size: 0.75em;
  text-decoration: none;
  text-align: left;
  margin: 0;
}
.btn-vermas-evento:hover {
  color: #FFA300;
}
@media only screen and (min-width: 1200px) {
  .btn-vermas-evento {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .btn-vermas-evento {
    font-size: 0.938em;
  }
}

.background-home {
  background: -webkit-gradient(linear, left top, left bottom, from(#09141A), to(#1F4761));
  background: linear-gradient(#09141A, #1F4761);
}
@media only screen and (min-width: 1200px) {
  .background-home {
    padding: 0 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .background-home {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .background-home {
    padding: 0 10%;
  }
}

.categorias-section {
  height: 150px;
  overflow: auto;
  white-space: nowrap;
}

.categoria-tittle {
  padding: 1.5em 0;
}

.categoria-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#1F4761), to(#00000000));
  background: linear-gradient(#1F4761, #00000000);
  width: 60%;
  height: 110px;
  border-radius: 1em;
  margin: 0 1em 1em 0;
  display: inline-block;
}
@media only screen and (min-width: 1200px) {
  .categoria-bg {
    height: 80px;
    width: 30%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .categoria-bg {
    height: 80px;
    width: 40%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .categoria-bg {
    height: 80px;
    width: 50%;
  }
}

.categoria-link {
  text-decoration: none;
}
.categoria-link:hover {
  color: #F0F0F0;
}

.categoria-tittle-categorias {
  text-align: left;
  padding: 1em 1em 0;
  margin: 0;
  font-size: 1.25em;
}

.img-categoria-categorias {
  float: right;
  margin-right: 1em;
  height: 60px;
  width: auto;
}

.eventos-tittle {
  padding-top: 1em;
}

.evento-padding {
  padding: 0.5em 0;
}

.fondo-img-evento-eventos {
  text-align: center;
  padding: 0;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  background: #182933;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img_evento_izq {
  height: 100%;
}

.height-evento {
  height: 10.625em;
}
@media only screen and (min-width: 1200px) {
  .height-evento {
    height: 17em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .height-evento {
    height: 15em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .height-evento {
    height: 12em;
  }
}

.fondo-evento-eventos {
  background: #1F4761;
  border-top-right-radius: 1em;
  padding-top: 0.5em;
  height: 8.519em;
}
@media only screen and (min-width: 1200px) {
  .fondo-evento-eventos {
    height: 13.592em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .fondo-evento-eventos {
    height: 12.161em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .fondo-evento-eventos {
    height: 9.896em;
  }
}

.titulo-evento-eventos {
  text-align: left;
  font-size: 0.938em;
  color: #FFA300;
}
@media only screen and (min-width: 1200px) {
  .titulo-evento-eventos {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .titulo-evento-eventos {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .titulo-evento-eventos {
    font-size: 1.2em;
    padding-bottom: 0.5em;
  }
}

.info-evento-eventos {
  text-align: left;
  font-size: 0.75em;
  margin-bottom: 1em;
}
@media only screen and (min-width: 1200px) {
  .info-evento-eventos {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .info-evento-eventos {
    font-size: 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .info-evento-eventos {
    font-size: 0.938em;
  }
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.margin-0 {
  margin: 0;
}

.btn-vermas-evento-text {
  padding: 0.67em 1em;
  font-size: 0.75em;
  color: #F0F0F0;
  text-decoration: none;
  text-align: left;
  margin: 0;
}
.btn-vermas-evento-text:hover {
  color: #FFA300;
}
@media only screen and (min-width: 1200px) {
  .btn-vermas-evento-text {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .btn-vermas-evento-text {
    font-size: 1em;
  }
}

.float-right {
  float: right;
}

.btn-vermas-evento-fondo {
  background: #182933;
  padding: 0;
  margin: 0;
  border-bottom-right-radius: 1em;
}

.btn-ver-todos {
  background: #FFA300;
  padding: 0.5em;
  margin: 0.5em auto 2em;
  border-radius: 0.2em;
  color: #182933;
  text-decoration: none;
  text-align: center;
  width: 90%;
}
.btn-ver-todos:hover {
  color: #FFA300;
  background: #182933;
}
@media only screen and (min-width: 1200px) {
  .btn-ver-todos {
    font-size: 1.2em;
  }
}

.footer-bg {
  background: #182933;
}
@media only screen and (min-width: 1200px) {
  .footer-bg {
    padding: 1em 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-bg {
    padding: 0 20%;
  }
}

.footer-text {
  padding: 2em 0;
  padding-right: 1em;
  text-align: right;
  font-size: 0.75em;
}
@media only screen and (min-width: 1200px) {
  .footer-text {
    font-size: 1em;
  }
}

/******************************************* PÁGINA EVENTOS *******************************************/
.eventos-header-section {
  background: url(/imgs/mobile-bg/Img_Eventos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}
@media only screen and (min-width: 1200px) {
  .eventos-header-section {
    padding: 0 25%;
    background: url(/imgs/Img_Eventos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .eventos-header-section {
    padding: 0 20%;
    background: url(/imgs/Img_Eventos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .eventos-header-section {
    padding: 0 10%;
    background: url(/imgs/Img_Eventos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}

.tittle-line {
  text-align: left;
  margin-bottom: 0;
}
.tittle-line::after {
  content: "";
  display: block;
  margin-top: 1em;
  padding-bottom: 1px;
  background: #F0F0F0;
  width: 100%;
}

.breadcrumbs {
  text-align: left;
  margin-top: 15em;
  margin-bottom: 0.5em;
}

.background-eventos {
  background: -webkit-gradient(linear, left top, left bottom, from(#0C0C0C), to(#1F4761));
  background: linear-gradient(#0C0C0C, #1F4761);
}
@media only screen and (min-width: 1200px) {
  .background-eventos {
    padding: 0 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .background-eventos {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .background-eventos {
    padding: 0 10%;
  }
}

.search-mobile {
  color: #F0F0F0;
  position: absolute;
  top: 1.5em;
  right: 1em;
  z-index: 1;
}
.search-mobile:hover {
  cursor: pointer;
}
@media only screen and (min-width: 1200px) {
  .search-mobile {
    right: 2em;
  }
}

.searchbar {
  margin-top: 4em;
  visibility: hidden;
}

.eventos-dropd-categorias {
  position: relative;
  display: inline-block;
}
@media only screen and (min-width: 1200px) {
  .eventos-dropd-categorias {
    font-size: 1.25em;
  }
}

.eventos-dropd-categorias-content {
  margin: 0;
  text-align: center;
  padding-top: 0.5em;
  display: none;
  position: absolute;
  top: 1.75em;
  left: 0;
  background-color: #182933;
  color: #F0F0F0;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.eventos-dropd-categorias-content a {
  font-size: 0.938em;
}
.eventos-dropd-categorias-content a:hover {
  background-color: #1F4761;
}

.eventos-dropd-categorias:hover .eventos-dropd-categorias-content {
  display: block;
}

.eventos-categorias-bg {
  display: block;
  background: #182933;
  margin: 1em auto;
  border-radius: 0.2em;
  width: 90%;
}
.eventos-categorias-bg:hover {
  cursor: pointer;
  color: #FFA300;
}

.eventos-categorias-text {
  padding: 0.2em 0;
  float: left;
}

/******************************************* PÁGINA CATEGORÍA *******************************************/
.categoria-header-section {
  background: url(/imgs/mobile-bg/Img_Teatro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}
@media only screen and (min-width: 1200px) {
  .categoria-header-section {
    padding: 0 25%;
    background: url(/imgs/Img_Teatro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .categoria-header-section {
    padding: 0 20%;
    background: url(/imgs/Img_Teatro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .categoria-header-section {
    padding: 0 10%;
    background: url(/imgs/Img_Teatro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
}

/******************************************* PÁGINA EVENTO *******************************************/
.evento-header-section {
  background: url(/imgs/Img_Home_Reciente_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.evento-header-opacity {
  background: #24242480;
}
@media only screen and (min-width: 1200px) {
  .evento-header-opacity {
    padding: 0 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .evento-header-opacity {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .evento-header-opacity {
    padding: 0 10%;
  }
}

.evento-info {
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  .evento-info {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .evento-info {
    font-size: 1em;
  }
}

.evento-precio {
  padding: 0.2em 0;
  color: #FFA300;
  font-family: "CorbelBold";
  margin: 0 0 2em;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .evento-precio {
    padding: 0.5em 0;
    font-size: 1.2em;
  }
}

.evento-pad-top {
  padding-top: 1em;
}

.evento-btn-registrarse {
  padding: 0.2em 0;
  display: block;
  background: #FFA300;
  color: #182933;
  border-radius: 0.2em;
  text-decoration: none;
  font-family: "CorbelBold";
  margin: 0 0 2em;
}
.evento-btn-registrarse:hover {
  background: #182933;
  color: #FFA300;
}
@media only screen and (min-width: 1200px) {
  .evento-btn-registrarse {
    padding: 0.5em 0;
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .evento-btn-registrarse {
    padding: 0.5em 0;
    font-size: 1.2em;
  }
}

/******************************************* PÁGINA REGISTRO *******************************************/
.back-icon-display {
  display: block;
}
@media only screen and (min-width: 1200px) {
  .back-icon-display {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .back-icon-display {
    display: none;
  }
}

.registrarse-precio {
  display: block;
  border: 0.1em solid;
  border-radius: 0.2em;
  border-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

.registrarse-btn-entradas {
  display: block;
  background: #FFA300;
  border-radius: 0.2em;
  color: #182933;
  font-family: "CorbelBold";
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}
.registrarse-btn-entradas:hover {
  cursor: pointer;
  background: #1F4761;
  color: #FFA300;
}
@media only screen and (min-width: 1200px) {
  .registrarse-btn-entradas {
    width: 50%;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .registrarse-btn-entradas {
    width: 50%;
    margin: auto;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .registrarse-btn-entradas {
    width: 80%;
    margin: auto;
  }
}

.registrarse-line {
  margin-bottom: 0;
}
.registrarse-line::before {
  content: "";
  display: block;
  margin-bottom: 1em;
  padding-bottom: 1px;
  background: #F0F0F0;
  width: 100%;
}

/******************************************* PÁGINA CONFIRMACIÓN *******************************************/
.confirmar-label {
  display: block;
  text-align: center;
  padding: 0.5em 0;
}

.confirmar-input {
  display: block;
  width: 100%;
  background: none;
  border: 0.1em solid #FFA300;
  border-radius: 0.5em;
  font-family: "CorbelRegular";
  margin-bottom: 1em;
  padding: 0.2em 0.5em;
  color: #F0F0F0;
}
@media only screen and (min-width: 1200px) {
  .confirmar-input {
    padding: 0.5em;
  }
}

/******************************************* PÁGINA RESUMEN *******************************************/
.resumen-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#182933), to(#1F4761));
  background: linear-gradient(#182933, #1F4761);
  height: 100vh;
}
@media only screen and (min-width: 1200px) {
  .resumen-bg {
    padding: 0 25%;
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .resumen-bg {
    padding: 0 20%;
    height: 100vh;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .resumen-bg {
    padding: 0 10%;
    height: 100vh;
  }
}

.resumen-breadcrumbs {
  margin-top: 5em;
}

.margin-bottom-0::before {
  margin-bottom: 0;
}

.resumen-total-bold {
  font-family: "CorbelBold";
}
@media only screen and (min-width: 1200px) {
  .resumen-total-bold {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .resumen-total-bold {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1200px) {
  .resumen-btn-aceptar {
    margin: 1em 0;
  }
}

@media only screen and (min-width: 1200px) {
  .resumen-text {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .resumen-text {
    margin-bottom: 1em;
  }
}

.align-center {
  text-align: center;
}