@font-face {
    font-family: 'CorbelRegular';
    src: url('../fonts/CORBEL.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CorbelBold';
    src: url('../fonts/CORBELB.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CorbelItalic';
    src: url('../fonts/CORBELI.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CorbelLight';
    src: url('../fonts/CORBELL.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CorbelLightItalic';
    src: url('../fonts/CORBELLI.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CorbelBoldItalic';
    src: url('../fonts/CORBELZ.woff');
    font-weight: normal;
    font-style: normal;
}