@import 'media-queries';
@import 'fonts';

//VARIABLES
$white: #F0F0F0;
$blue: #1F4761;
$dark-blue: #182933;
$yellow: #FFA300;


//ETIQUETAS
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'CorbelRegular';
    color: $white;
}
h1{
    font-family: 'CorbelBold';
    font-size: 1.876em;
    color: $white;
    @include respond-to($large-desktop){
        font-size: 3.2em;
    }
}
h2{
    font-family: 'CorbelBold';
    font-size: 1.25em;
    color: $white;
    text-align: left;
    @include respond-to($large-desktop){
        font-size: 1.7em;
    }
}
h3{
    font-family: 'CorbelBold';
    font-size: .938em;
    color: $white;
    @include respond-to($large-desktop){
        font-size: 1.5em;
    }
}
p{
    font-family: 'CorbelRegular';
    font-size: .938em;
    @include respond-to($large-desktop){
        font-size: 1.5em;
    }
}
//ID
#realtickets{
    font-family: 'CorbelBoldItalic';
    font-size: 1.563em;
    color: $white;
    margin: auto;    
    z-index: 1;
    @include respond-to($large-desktop){
        text-align: left;
        padding-left: 3em;
    }
}
.logo-link{
    text-decoration: none;
    color: $white;
    &:hover{
        color: $white;
    }
}
.nav-desktop{
    display: none;
    float: right;
    font-family: 'CorbelRegular';
    margin-right: 3em;
    color: $white;
    text-decoration: none;
    font-size: .938em;
    &:hover{
        color: $yellow;
        cursor: pointer;
    }
    @include respond-to($large-desktop){
        display: block;
    }
}
//CLASES
//NAV
.nav{
    padding: 1em .5em;
    width: 100%;
    text-align: center;
    background: none;
    transition: .5s;
    @include respond-to($large-desktop){
        display: block;
    }
}
.menu-mobile{
    color: $white;
    position: absolute;
    top: 1.5em;
    left: 1em;
    z-index: 1;
    @include respond-to($large-desktop){
        display: none;
    }
}
.nav-list{
    top: 0;
    left: -100%;
    padding: 6em 0 0 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: $dark-blue;
    display: block;
    position: absolute;
    transition: .5s;
}
.nav-item{
    display: block;
    padding: .5em 0;
}
.nav-link{
    text-decoration: none;
    display: block;
    color: $white;
    font-size: 1.563em;
    &:hover{
        color: $yellow;
    }
}
/******************************************* PÁGINA INICIO *******************************************/
//HEADER
.header-section{
    background: url(/imgs/Img_Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    @include respond-to($large-desktop){
        padding: 0 25%;
    }
}
.header-tittle{
    padding: 6em 0 4em;
}
.header-buscar{
    background: $white;
    color: $dark-blue;
    border-radius: .5em;
    padding: 1em;
    margin-bottom: 5em;
    @include respond-to($large-desktop){
        width: 80%;
        margin: 0 auto 5em;
    }
}
.buscar-icon{
    float: left;
    color: $dark-blue;
    height: 100%;
    width: auto;
    margin: auto 0;
    margin-right: 1em;
}
.buscar-text{
    padding: 0;
    margin: 0;
    text-align: left;
    width: 89%;
    border: none;
    background: none;
    font-size: .938em;
    font-family: 'CorbelRegular';
}
//ULTIMOS AGREGADOS
.ultimos-agregados-tittle{
    padding-left: 1.25em;
    padding-bottom: .625em;
    &::before{
        content: "";
        display: block;
        padding-bottom: 1px;
        background: $white;
        margin-bottom: .625em;
        width: 100%;
    }
}
.titulo-evento{
    color: #FFA300;
    margin-top: 5em;
    text-align: left;
    margin-left: .5em;
}
.img-reciente-1{
    padding: 0;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background: url(/imgs/Img_Home_Reciente_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.img-reciente-2{
    padding: 0;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background: url(/imgs/Img_Home_Reciente_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.btn-vermas-agregado-bg{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background: $dark-blue;
    margin-bottom: 2em;
    padding: 0 .5em;
}
.btn-vermas-evento{
    padding: .5em;
    color: $white;
    font-size: .75em;
    text-decoration: none;
    text-align: left;
    margin: 0;
    &:hover{
        color: $yellow;
    }
    @include respond-to($large-desktop){
        font-size: 1.2em;
    }
}
.background-home{
    background: linear-gradient(#09141A, $blue);
    @include respond-to($large-desktop){
        padding: 0 25%;
    }
}
//CATEGORIAS
.categorias-section{
    height: 150px;
    overflow: auto;
    white-space: nowrap;
}
.categoria-tittle{
    padding: 1.5em 0;
}
.categoria-bg{
    background: linear-gradient($blue, #00000000);
    width: 60%;
    height: 110px;
    border-radius: 1em;
    margin: 0 1em 1em 0;
    display: inline-block;
    @include respond-to($large-desktop){
        height: 80px;
        width: 30%;
    }
}
.categoria-link{
    text-decoration: none;
    &:hover{
        color: $white;
    }
}
.categoria-tittle-categorias{
    text-align: left;
    padding: 1em 1em 0;
    margin: 0;
}
.img-categoria-categorias{
    float: right;
    margin-right: 1em;
    height: 60px;
    width: auto;
}
//EVENTOS
.eventos-tittle{
    padding-top: 1em;
}
.evento-padding{
    padding: .5em 0;
}
.fondo-img-evento-eventos{
    text-align: center;
    padding: 0;
    height: 100%;
    width: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background: $dark-blue;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}
.img_evento_izq{
    height: 100%;
}
.height-evento{
    height: 10.625em;
    @include respond-to($large-desktop){
        height: 17em;
    }
}
.fondo-evento-eventos{
    background: $blue;
    border-top-right-radius: 1em;
    padding-top: .5em;
    height: 8.519em;
    @include respond-to($large-desktop){
        height: 13.592em;
    }
}
.titulo-evento-eventos{
    text-align: left;
    font-size: .938em;
    color: $yellow;
    @include respond-to($large-desktop){
        font-size: 1.5em;
        padding-bottom: .5em;
    }
}
.info-evento-eventos{
    text-align: left;
    font-size: .75em;
    margin-bottom: 1em;
    @include respond-to($large-desktop){
        font-size: 1.2em;
    }
}
.padding-right-0{
    padding-right: 0;
}
.padding-left-0{
    padding-left: 0;
}
.padding-bottom-0{
    padding-bottom: 0;
}
.margin-0{
    margin: 0;
}
.btn-vermas-evento-text{
    padding: .67em 1em;
    font-size: .75em;
    color: $white;
    text-decoration: none;
    text-align: left;
    margin: 0;
    &:hover{
        color: $yellow;
    }
    @include respond-to($large-desktop){
        font-size: 1.2em;
    }
}
.float-right{
    float: right;
}
.btn-vermas-evento-fondo{
    background: $dark-blue;
    padding: 0;
    margin: 0;
    border-bottom-right-radius: 1em;
}
.btn-ver-todos{
    background: $yellow;
    padding: .5em;
    margin: .5em auto 2em;
    border-radius: .2em;
    color: $dark-blue;
    text-decoration: none;
    text-align: center;
    width: 90%;
    &:hover{
        color: $yellow;
        background: $dark-blue;
    }
    @include respond-to($large-desktop){
        font-size: 1.2em;
    }
}
//FOOTER
.footer-bg{
    background: $dark-blue;
    @include respond-to($large-desktop){
        padding: 1em 25%;
    }
}
.footer-text{
    padding: 2em 0;
    padding-right: 1em;
    text-align: right;
    font-size: .75em;
    @include respond-to($large-desktop){
        font-size: 1em;
    }
}
/******************************************* PÁGINA EVENTOS *******************************************/
.eventos-header-section{
    background: url(/imgs/Img_Eventos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    @include respond-to($large-desktop){
        padding: 0 25%;
    }
}
.tittle-line{
    text-align: left;
    margin-bottom: 0;
    &::after{
        content: "";
        display: block;
        margin-top: 1em;
        padding-bottom: 1px;
        background: $white;
        width: 100%;
    }
}
.breadcrumbs{
    text-align: left;
    margin-top: 15em;
    margin-bottom: .5em;
}
.background-eventos{
    background: linear-gradient(#0C0C0C, $blue);
    @include respond-to($large-desktop){
        padding: 0 25%;
    }
}
.search-mobile{
    color: $white;
    position: absolute;
    top: 1.5em;
    right: 1em;
    z-index: 1;
    &:hover{
        cursor: pointer;
    }
    @include respond-to($large-desktop){
        right: 2em;
    }
}
.searchbar{
    margin-top: 4em;
    opacity: 0%;
    transition: .5s;
}
.eventos-categorias-bg{
    display: block;
    background: $dark-blue;
    width: 90%;
    margin: 1em auto;
    border-radius: .2em;
    &:hover{
        cursor: pointer;
    }
}
.eventos-categorias-text{
    padding: .2em 0;
    float: left;
}
.eventos-categorias-link{
    text-decoration: none;
    color: $white;
    background: $dark-blue;
    border-radius: .2em;
    display: block;
    &:hover{
        color: $yellow;
    }
}
.eventos-categorias-item{
    list-style: none;
    margin: .5em 0;    
}
.eventos-categorias-list{
    display: none;
    margin: 0 auto;    
    width: 90%;
    transition: .5s;
}
/******************************************* PÁGINA CATEGORÍA *******************************************/
.categoria-header-section{
    background: url(/imgs/Img_Teatro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    @include respond-to($large-desktop){
        padding: 0 25%;
    }
}
/******************************************* PÁGINA EVENTO *******************************************/
.evento-header-section{
    background: url(/imgs/Img_Home_Reciente_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.evento-header-opacity{
    background: #24242480;
    @include respond-to($large-desktop){
        padding: 0 25%;
    }
}
.evento-info{
    text-align: left;
    @include respond-to($large-desktop){
        font-size: 1.2em;
    }
}
.evento-precio{
    padding: .2em 0;
    color: $yellow;
    font-family: 'CorbelBold';
    margin: 0 0 2em;
}
.evento-pad-top{
    padding-top: 1em;
}
.evento-btn-registrarse{
    padding: .2em 0;
    display: block;
    background: $yellow;
    color: $dark-blue;
    border-radius: .2em;
    text-decoration: none;
    font-family: 'CorbelBold';
    margin: 0 0 2em;
    &:hover{
        background: $dark-blue;
        color: $yellow;
    }
    @include respond-to($large-desktop){
        padding: .5em 0;
        font-size: 1.5em;
    }
}
/******************************************* PÁGINA REGISTRO *******************************************/
.registrarse-precio{
    display: block;
    border: .1em solid;
    border-radius: .2em;
    border-color: $white;
    margin: 0;
    padding: 0;
    
}
.registrarse-btn-entradas{
    display: block;
    background: $yellow;
    border-radius: .2em;
    color: $dark-blue;
    font-family: 'CorbelBold';
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    &:hover{
        cursor: pointer;
    }
    @include respond-to($large-desktop){
        width: 50%;
        margin: auto;
    }
}
.registrarse-line{
    margin-bottom: 0;
    &::before{
        content: "";
        display: block;
        margin-bottom: 1em;
        padding-bottom: 1px;
        background: $white;
        width: 100%;
    }
}
/******************************************* PÁGINA CONFIRMACIÓN *******************************************/
.confirmar-label{
    display: block;
    text-align: center;
    padding: .5em 0;
}
.confirmar-input{
    display: block;
    width: 100%;
    background: none;
    border: .1em solid $yellow;
    border-radius: .5em;
    font-family: 'CorbelRegular';
    margin-bottom: 1em;
    padding: .2em .5em;
    color: $white;
    @include respond-to($large-desktop){
        padding: .5em;
    }
}
/******************************************* PÁGINA RESUMEN *******************************************/
.resumen-bg{
    background: linear-gradient($dark-blue, $blue);
    height: 100vh;
    @include respond-to($large-desktop){
        padding: 0 25%;
        height: auto;
    }
}
.resumen-breadcrumbs{
    margin-top: 5em;
}
.margin-bottom-0{
    &::before{
        margin-bottom: 0;
    }    
}
.resumen-total-bold{
    font-family: 'CorbelBold';
    @include respond-to($large-desktop){
        font-size: 1.5em;
    }
}
.resumen-btn-aceptar{
    @include respond-to($large-desktop){
        margin: 1em 0;
    }
}